body {
  margin: 0px;
}

header {
  background: navy;
  text-align: center;
  color: white;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: solid black;
  padding: 10px;
}

.btn {
  cursor: pointer;
  background-color: lightskyblue;
  border-radius: 3px;
  font-size: 1rem;
}

.alnRight {
  text-align: right;
}

.alnCenter {
  text-align: center;
}

.js-table-head {
  background: lightblue;
}

.js-table-body-footer {
  background: lightblue;
}

.container {
  margin: 15px;
}

.final {
  text-align: right;
}

.vr {
  margin-bottom: 15px;
}

.vr_2x {
  margin-bottom: 30px;
}
